# Data Types and Structures

**Q1: What are data structures, and why are they important?**

- Data structures are specialized formats for organizing, storing, and managing data so that it can be used efficiently. They provide a way to handle large amounts of data, enabling efficient data access, modification, and management. Data structures include lists, tuples, dictionaries, and sets.



**Q2: Explain the difference between mutable and immutable data types with examples.**
- Mutable data types can be changed after creation. You can modify their contents without creating a new object. For eg- Lists

my_list = [1, 2, 3]

my_list[0] = 10  # Modifies the list

- Immutable data types cannot be changed after creation. For example, strings, integers, and tuples are immutable. Any operation that appears to modify them actually creates a new object. For eg- Strings, Tuples etc.

my_string = "hello"

my_string[0] = 'H'  # This will raise an error

**Q3: What are the main differences between lists and tuples in Python?**
- Lists are mutable, meaning their elements can be modified after creation. lists are used for dynamic data. They are defined using square brackets [].

my_list = [1, 2, 3]

my_list[0] = 10  # Valid

- Tuples are immutable, meaning their elements cannot be modified after creation. Tuples are often used for fixed data. They are defined using parentheses ().

my_tuple = (1, 2, 3)

my_tuple[0] = 10  # Invalid, raises an error

**Q4:  Describe how dictionaries store data.**
- Dictionaries store data as key-value pairs. Each key is unique and maps to a specific value. This allows for fast data retrieval based on keys. Dictionaries are implemented using hash tables, which provide average O(1) time complexity for lookups, insertions, and deletions.

my_dict = {"name":"zoey", "age":"20"}

my_dict

output- {'name': 'zoey', 'age': '20'}

my_dict["name"]

output- zoey

my_dict["age"]

output- 20

**Q5: Why might you use a set instead of a list in Python?**
- Sets are used when you need to store unique elements and perform operations like union, intersection, or difference. Unlike lists, sets do not allow duplicate values, and they provide O(1) average time complexity for lookups.

my_list = [1, 2, 1, 3, 2, 3, 4, 5, 4]

my_list

output- [1, 2, 1, 3, 2, 3, 4, 5, 4]

my_set = {1, 2, 1, 3, 2, 3, 4, 5, 4}

my_set

output- {1, 2, 3, 4, 5}

**Q6: What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters. Strings are immutable, meaning they cannot be changed in place.

- A list is a collection of elements of any type. Lists are mutable, meaning elements can be modified.

my_string = "cookie"

my_list = ["c", "o", "o", "k", "i", "e"]

**Q7: How do tuples ensure data integrity in Python?**
- Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be modified, added, or removed. This makes tuples ideal for storing fixed data that should not change, such as configuration settings or database records.

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables, which allow for fast O(1) average time complexity for lookups, insertions, and deletions.

**Q9: Can lists contain different data types in Python?**
- Yes, lists in Python can contain elements of different data types, including integers, strings, and even other lists.

my_list = [127, "NCT", 3.14, [1, 2, 7], "Dream", "Wish"]

**Q10: Explain why strings are immutable in Python.**

Strings are immutable because:
- To ensure data integrity and optimize memory usage.
- It improves performance (no accidental modifications).
- It ensures hashability, allowing strings to be used as dictionary keys.

**Q11. What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries offer faster lookups (O(1) on average) compared to lists (O(n)) because they use hash tables.
- They are ideal for tasks where data needs to be accessed by unique keys rather than by index.

**Q12. Describe a scenario where using a tuple would be preferable over a list.**
- Tuples are preferable when you need to store fixed data that should not change, such as coordinates, database records, or configuration settings.

For example:

coordinates = (10, 20)

Days of the week: ("Monday", "Tuesday", "Wednesday", ...)

Months of the year: ("January", "February", "March", ....)

**Q13. How do sets handle duplicate values in Python?**
- Sets automatically remove duplicate values when they are created or updated. This ensures that all elements in a set are unique.

my_set = {1, 2, 2, 3}  
Results in {1, 2, 3}

**Q14. How does the “in” keyword work differently for lists and dictionaries?**
- For lists, the in keyword checks if a value exists in the list, which takes O(n) time.

- For dictionaries, the in keyword checks if a key exists, which takes O(1) time on average due to hash table implementation.

**Q15. Can you modify the elements of a tuple? Explain why or why not.**
- No, you cannot modify the elements of a tuple because tuples are immutable. Any attempt to change a tuple's elements will result in an error.

**Q16. What is a nested dictionary, and give an example of its use case.**
- A nested dictionary is a dictionary that contains other dictionaries as values. It is useful for representing hierarchical or structured data.

my_dict = {

    "person1": {"name": "Alice", "age": 25},

    "person2": {"name": "Bob", "age": 30}

}

**Q17. Describe the time complexity of accessing elements in a dictionary.**
- Accessing elements in a dictionary has an average time complexity of O(1) because dictionaries use hash tables for storage.

**Q18. In what situations are lists preferred over dictionaries?**

Lists are preferred over dictionaries
- when you need to maintain an ordered collection of items.
- when you need to access elements by their index.
- also useful when the data does not require unique keys.

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Before Python 3.7: Dictionaries were unordered (key order was unpredictable).
- From Python 3.7+: Dictionaries maintain insertion order but retrieval is still O(1).
-  but they are still considered unordered because their primary purpose is key-based access, not order.
- This means you should not rely on the order of elements in a dictionary for critical operations.

**Q20. Explain the difference between a list and a dictionary in terms of data retrieval.**
- Lists retrieve data by index, which takes O(1) time for access but O(n) time for searching.
- Dictionaries retrieve data by key, which takes O(1) time on average due to hash table implementation. This makes dictionaries faster for key-based lookups.

In [ ]:
#1: Write a code to create a string with your name and print it
name = "Zoey Sullivan"
print(name)

Zoey Sullivan

In [ ]:
#2: Write a code to find the length of the string "Hello World"
string = "Hello World"
len(string)

11

In [ ]:
#3: Write a code to slice the first 3 characters from the string "Python Programming
string = "Python Programming"
string[:3]

'Pyt'

In [ ]:
#4: Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [ ]:
#5: Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
string.replace("apple", "orange")

'I like orange'

In [ ]:
#6: Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7: Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [ ]:
#10: Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11: Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [ ]:
#13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [ ]:
#14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [ ]:
#15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("cranberry", "strawberry", "raspberry")
"kiwi" in fruits

False

In [ ]:
#16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [ ]:
#18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [ ]:
#19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
set_1 | set_2

{1, 2, 3, 4, 5}

In [ ]:
#20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
set_1 & set_2

{2, 3}

In [ ]:
#21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Zoey Sullivan", "age": "20", "city":"London"}
print(my_dict)

{'name': 'Zoey Sullivan', 'age': '20', 'city': 'London'}

In [ ]:
#22:  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dictionary = {'name': 'John', 'age': 25}
dictionary.update({"country":"USA"})
dictionary

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23:  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name': 'Alice', 'age': 30}
dictionary["name"]

'Alice'

In [ ]:
#24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop("age")
dictionary

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25:  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}
"city" in dictionary

True

In [ ]:
#26:  Write a code to create a list, a tuple, and a dictionary, and print them all.

#list
grocery_list = ["Milk", "Eggs", "Honey", "Butter", "Coffe", "Tea"]
print(grocery_list)

['Milk', 'Eggs', 'Honey', 'Butter', 'Coffe', 'Tea']

In [ ]:
#tuple
Days_of_the_week = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print(Days_of_the_week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [ ]:
#Dictionary
my_profile = {"name" : "Zoey Sulivan", "age" : 20, "city" : "London"}
print(my_profile)

{'name': 'Zoey Sulivan', 'age': 20, 'city': 'London'}

In [ ]:
#27:  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
random_list =[3, 11, 27, 9, 5]
random_list.sort()
random_list

[3, 5, 9, 11, 27]

In [ ]:
#28: Write a code to create a list with strings and print the element at the third index.
sports = ["football", "cricket", "tennis", "F1 racing", "golf"]
print(sports[3])

F1 racing

In [ ]:
#29:  Write a code to combine two dictionaries into one and print the result.
person1 = {"name": "Alice", "age": 25, "city": "New York"}
person2 = {"name": "Adam", "age": 28, "city": "LA"}
people = {"person1": person1, "person2": person2}
print(people)

{'person1': {'name': 'Alice', 'age': 25, 'city': 'New York'}, 'person2': {'name': 'Adam', 'age': 28, 'city': 'LA'}}

In [ ]:
#30: Write a code to convert a list of strings into a set.
fruits = ["cranberry", "strawberry", "raspberry", "blackberry", "blueberry", "strawberry", "raspberry", "cranberry"]
fruit_set = set(fruits)
print(fruit_set)

{'strawberry', 'cranberry', 'raspberry', 'blackberry', 'blueberry'}